<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>theaters</mat-icon> Angular Peliculas
    </a>
  </span>
  <a routerLink="generos" mat-button>
    <mat-icon>theater_comedy</mat-icon> Géneros
  </a>
  <a routerLink="actores" mat-button>
    <mat-icon>diversity_3</mat-icon> Actores
  </a>
  <a routerLink="cines" mat-button>
    <mat-icon>location_city</mat-icon> Cine
  </a>
  <a routerLink="peliculas/crear" mat-button>
    <mat-icon>movie</mat-icon> Crear Pelicula
  </a>
</mat-toolbar>
